* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-1 {
    width: 100%;
    height: 62px;
    background-color: #4a4646;
    border-bottom: 2px solid gray;
    position: fixed;
    z-index: 999;
}

.header-2 {
    width: 100%;
    height: 790px;
    background-image: linear-gradient(45deg, rgb(29, 51, 200,0.5), rgb(44, 173, 38, 0.5)), url(../Images/background1.png);
    background-position: center;
    overflow: hidden;
}

.header-3 {
    width: 100%;
    height: 790px;
    background-image: linear-gradient(45deg, rgb(29, 51, 200,0.5), rgb(44, 173, 38, 0.5)), url(../Images/background2.png);
    background-position: center;
}

.header-4 {
    width: 100%;
    height: 790px;
    background-image: linear-gradient(45deg, rgb(29, 51, 200,0.5), rgb(44, 173, 38, 0.5)), url(../Images/background3.jpg);
    background-position: center;
}

.header-5 {
    width: 100%;
    height: 790px;
    background-image: linear-gradient(45deg, rgb(29, 51, 200,0.5), rgb(44, 173, 38, 0.5)), url(../Images/background4.jpg);
    background-position: center;
}

.logo {
    display: inline-block;
    width: 20%;
    height: 30px;
    margin-left: 45%;
    margin-top: 1px;
}

body {
    overflow: auto;
}

footer {
    display: inline-block;
    width: 85%;
    float: right;
    background-color: gray;
}

/*-------------------Home page----------------------*/


.main-nav {
    float: right;
    width: 20%;
    height: 40px;
    margin-top: 7px;
    margin-right: 10px;
}

.glow-on-hover {
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    border: 0.25em solid #30d234;
    border-radius: 2em;
    box-sizing: border-box;
    color: #30d234;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5em 2.2em;
    background-color: white;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.glow-on-hover:hover {
    color: black;
    background-color: #30d234;
    box-shadow: rgba(0,0,0,0.5) 0 10px 20px;
    transform: translateY(-2px);
}

.glow-on-hover:active {
    box-shadow: none;
    transform: translateY(0);
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*------------------Home page-----------------------*/

#toggle {
    display: none;
}

.hamburger {
    position: absolute;
    top: 3%;
    left: 1%;
    transform: translateY(-50%);
    z-index: 5;
    margin-top: 20px;
    z-index: 999;
}

.hamburger div {
    position: relative;
    width: 3em;
    height: 0.4em;
    border-radius: 3px;
    background-color: white;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.nav {
    position: fixed;
    width: 20%;
    height: fit-content;
    background-color: #f3f0c7;
    margin-top: 5px;
    left: 5px;
    bottom: 0;
    overflow: hidden;
    transform: scale(0);
    text-align: start;
    padding-left: 1em;
    z-index: 998;
}

.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    margin-top: 3em;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    display: block;
    margin-top: 1em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}

.nav a:hover {
    color: #30d234;
}

#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
}

#toggle:checked + .hamburger .mid-bun {
    transform: rotate(45deg);
    margin-top: -7px;
}

#toggle:checked + .hamburger .under-bun {
    transform: rotate(45deg);
    margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
}

/*-------------------Clear fix----------------------*/

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/*-----------------User home page------------------------*/

.menu-container {
    display: inline-block;
    width: 15%;
    height: 871px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #4a4646;
    margin-top: 62px;
    float: left;
    position: fixed;
}

.menu {
    display: inline-block;
    width: 100%;
    height: 871px;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 0.3s ease;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #30d234;
}

.menu li a:hover::after {
    width: 100%;
    transform: scaleX(1);
}


.menu_product {
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    width: 85%;
    float: right;
}

.menu_product div {
    width: 46%;
    height: 213px;
    margin-bottom: 60px;
    margin-left: 1%;
    margin-right: 2%;
    display: inline-block;
    position: relative;
}

.number {
    position: absolute;
    top: 80%;
    left: 30%;
    letter-spacing: 27px;
    margin-right: 10px;
    font-size: 30px;
    color: #0026ff;
}

.menu_product div button {
    padding-top: 0px;
    float: right;
    width: 106px;
    height: 213px;
    background-color: #f3f0c7;
    font-size: 30px;
    color: red;
    border: none;
    border-left: 3px solid black;
}


/*-------------------Product page----------------------*/

.container{
    padding-top: 50px;
}


.form-table {
    border: 2px solid black;
    max-height: 500px;
    overflow: auto;
}

.table {
    border: 2px solid black;
    bottom: 0;
    max-height: 500px;
    overflow: auto;
}

.table tbody{
}


.table thead {
    position: sticky;
    top: -1px;
    color: white;
    background-color: black;
}

.table td, th {
    padding: 10px;
    vertical-align: middle;
    line-height: 1.5;
}

.avatar{
    width: 70px;
    height: 90px;
}

.edit_icon {
    text-decoration: none;
    color: black;
}

.lock_icon {
    text-decoration: none;
    color: black;
}

.delete_icon {
    text-decoration: none;
    color: black;
}

#add {
    width: 100%;
    height: 50px;
    font-size: 35px;
    font-weight: 500;
    background-color: black;
    color: white;
}

#add:hover {
    background-color: blue;
}

/*-------------------Edit product page----------------------*/


.edit-product {
    display: inline-block;
    margin-top: 180px;
    margin-left: 420px;
    width: 600px;
    border: 1px solid white;
    box-shadow: 5px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    color: white;
}

.edit-product h2{
    font-weight: 700;
    margin-bottom: 30px;
    padding-left: 200px;
    padding-top: 10px;
}

.edit-product label {
    font-size: 25px;
    display: inline-block;
    width: 120px;
    float: left;
    height: 20px;
    padding-left: 40px;
    margin-top: 20px;
}

#address {
    font-size: 25px;
    width: 400px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.edit-product input {
    font-size: 25px;
    width: 400px;
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#save{
    width: 225px;
    margin-left: 50px;
}

#cance {
    width: 225px;
    margin-left: 50px;
    margin-bottom: 50px;
}


